@page "/Entrenadores/Edit/{EntrenadorID:int}"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using FitForge.Components.Account
@using FitForge.Components.Account.Pages
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities

@inject EntrenadoresService entrenadoresService
@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

@rendermode InteractiveServer

@attribute [Authorize(Roles = "Admin")]

<Toasts class="p-3" Messages="Notificacion" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />

<PageTitle>Editar Entrenador</PageTitle>
<div class="wrapper">
	<div class="container">
		@*Titulo*@
		<div class="text-black text-center">
			<h3 style="margin-bottom: 1px;"><strong>Editar Entrenador</strong></h3>
			<p>Aqui podr&aacute;s editar el entrenador seleccionado.</p>
		</div>
		@*EDITFORM*@
		<EditForm Model="@Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<div class="row">
				<div class="col">
					<div class="row">
						@*Campo Nombres*@
						<div class="col">
							<div class="form-floating mb-3">
								<InputText @bind-Value="Input.Nombres" class="form-control" aria-required="true" placeholder="Nombres" />
								<label for="nombres">Nombres/Apellidos</label>
								<ValidationMessage For="() => Input.Nombres" class="text-danger" />
							</div>
						</div>

						@*Campo fecha ingreso*@
						<div class="col">
							<div class="form-floating mb-3">
								<InputDate @bind-Value="Input.FechaIngreso" class="form-control" />
								<label for="fecha-de-nacimiento">Fecha de Ingreso</label>
								<ValidationMessage For="() => Input.FechaIngreso" class="text-danger" />
							</div>
						</div>
					</div>

					@*Campo Email*@
					<div class="form-floating mb-3">
						<InputText @bind-Value="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
						<label for="email">Email</label>
						<ValidationMessage For="() => Input.Email" class="text-danger" />
					</div>

					@*Campo Telefono*@
					<div class="form-floating mb-3">
						<InputText @bind-Value="Input.Telefono" class="form-control" aria-required="true" placeholder="555-555-5555" />
						<label for="telefono">Telefono</label>
						<ValidationMessage For="() => Input.Telefono" class="text-danger" />
					</div>
				</div>

				<div class="col">
					@*Campo Descripcion de la clase*@
					<div class="form-floating mb-3">
						<InputSelect @bind-Value="Input.DescripcionClase" class="form-control" aria-required="true">
							<option selected disabled>--- Selecciona una clase ---</option>
							@foreach (var clase in ListaClases)
							{
								<option value="@clase.ClaseId">@clase.Descripcion</option>
							}
						</InputSelect>
						<label for="descripcion-clase"><strong>Clase a impartir...</strong></label>
						<ValidationMessage For="() => Input.DescripcionClase" class="text-danger validation-message" />
					</div>

					<div class="row">
						<div class="col">
							@*Campo hora inicio*@
							<div class="form-floating mb-3">
								<input type="time" @bind="Input.HoraInicio" class="form-control" />
								<label for="hora-inicio">Hora Inicio</label>
								<ValidationMessage For="() => Input.HoraInicio" class="text-danger validation-message" />
							</div>
						</div>

						<div class="col">
							@*Campo hora fin*@
							<div class="form-floating mb-3">
								<input type="time" @bind="Input.HoraFin" class="form-control" />
								<label for="hora-fin">Hora Inicio</label>
								<ValidationMessage For="() => Input.HoraInicio" class="text-danger validation-message" />
							</div>
						</div>
					</div>

					@*Campo Dia*@
					<div class="form-floating mb-3">
						<InputSelect @bind-Value="Input.Dia" class="form-control" aria-required="true">
							<option selected disabled>--- Selecciona un dia ---</option>
							@foreach (var dia in ListaDias)
							{
								<option value="@dia.DiaId">@dia.Nombre</option>
							}
						</InputSelect>
						<label for="dia"><strong>Dia de clase...</strong></label>
						<ValidationMessage For="() => Input.Dia" class="text-danger validation-message" />
					</div>
				</div>
			</div>


			<div class="row">
				@*Btn volver*@
				<div class="col">
					<a href="/Entrenadores/Index" class="w-100 btn btn-lg btn-primary">Volver</a>
				</div>
				@*Btn Crear*@
				<div class="col">
					<button type="submit" class="w-100 btn btn-lg btn-primary">Guardar</button>
				</div>
			</div>
		</EditForm>
	</div>
</div>

<head>
	<link href="css/Crear-Entrenador.css" rel="stylesheet" />
</head>

@code {
	// AQUI SE DEBE UTILIZAR UNA NOTIFICACICON
	private string errorMessage = string.Empty;

	[Parameter]
	public int EntrenadorID { get; set; }

	[Inject]
	private RoleManager<IdentityRole> RoleManager { get; set; } = default!;

	private IEnumerable<IdentityError>? identityErrors;

	[SupplyParameterFromForm]
	private InputModel Input { get; set; } = new();

	[SupplyParameterFromQuery]
	private string? ReturnUrl { get; set; }

	private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

	public List<ToastMessage> Notificacion = new List<ToastMessage>();
	public ToastType TipoNotificacion { get; set; }
	public string MensajeNotificacion { get; set; } = string.Empty;
	public string TituloNotificacion { get; set; } = string.Empty;

	public void ShowMessage(ToastType toastType, string titulo, string cuerpo) => Notificacion.Add(CreateToastMessage(toastType, titulo, cuerpo));
	private ToastMessage CreateToastMessage(ToastType toastType, string titulo, string cuerpo)
	=> new ToastMessage
		{
			Type = toastType,
			Title = $"{titulo}",
			HelpText = $"{DateTime.Now}",
			Message = $"{cuerpo}",
		};

	// Estas lista se mostrara inicializada en un combobox
	public ICollection<ClasesDto> ListaClases { get; set; } = new List<ClasesDto>();
	public ICollection<DiasDto> ListaDias { get; set; } = new List<DiasDto>();

	public EntrenadoresDto EntrenadorDto { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		EntrenadorDto = await entrenadoresService.Buscar(EntrenadorID);

		Input.Nombres = EntrenadorDto.Nombres;
		Input.FechaIngreso = EntrenadorDto.FechaIngreso;
		Input.Email = EntrenadorDto.Email;
		Input.Telefono = EntrenadorDto.Telefono;
		Input.DescripcionClase = EntrenadorDto.DescripcionClase;
		Input.Dia = EntrenadorDto.DiasClase;
		Input.HoraInicio = EntrenadorDto.HoraInicioClase;
		Input.HoraFin = EntrenadorDto.HoraFinClase;

		// ListaClases = await =  clasesService.Listar(d => true);
		// ListaDias = await diasService.Listar(d => true);
	}

	public async Task RegisterUser(EditContext editContext)
	{
		if (!await entrenadoresService.ValidarTelefono(Input.Telefono))
		{
			TipoNotificacion = ToastType.Danger;
			TituloNotificacion = "Error";
			MensajeNotificacion = "El número de teléfono ya existe o es inválido.";
			ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
			return;
		}

		var user = await UserManager.FindByEmailAsync(Input.Email);
		if (Input.Email != EntrenadorDto.Email)
		{
			if (user != null && user.Id != EntrenadorDto.UserId)
			{
				TipoNotificacion = ToastType.Danger;
				TituloNotificacion = "Error";
				MensajeNotificacion = "Este email ya existe.";
				ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
				return;
			}
		}

		user = await UserManager.FindByIdAsync(EntrenadorDto.UserId);
		if (user == null)
		{
			TipoNotificacion = ToastType.Danger;
			TituloNotificacion = "Error";
			MensajeNotificacion = "El usuario no fué encontrado.";
			ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
			return;
		}

		await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
		var emailStore = GetEmailStore();
		await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);

		// Crear el usuario en AspNetUsers
		var result = await UserManager.UpdateAsync(user);
		if (!result.Succeeded)
		{
			TipoNotificacion = ToastType.Danger;
			TituloNotificacion = "Error";
			MensajeNotificacion = "Hubo un error al modificar al entrenador.";
			ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
			return;
		}

		user = await UserManager.FindByIdAsync(user.Id);

		EntrenadorDto.Nombres = Input.Nombres;
		EntrenadorDto.Email = Input.Email;
		EntrenadorDto.FechaIngreso = Input.FechaIngreso;
		EntrenadorDto.DescripcionClase = Input.DescripcionClase;
		EntrenadorDto.DiasClase = Input.Dia;
		EntrenadorDto.HoraInicioClase = Input.HoraInicio;
		EntrenadorDto.HoraFinClase = Input.HoraFin;
		EntrenadorDto.Telefono = Input.Telefono;

		if(!await entrenadoresService.Guardar(EntrenadorDto))
		{
			TipoNotificacion = ToastType.Danger;
			TituloNotificacion = "Error";
			MensajeNotificacion = "Hubo un error al guardar los datos del entrenador.";
			ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
		}
		TipoNotificacion = ToastType.Success;
		TituloNotificacion = "Enhorabuena";
		MensajeNotificacion = "¡Se ha guardado el entrenador exitosamente!";
		ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);

		NavigationManager.NavigateTo("/Entrenadores/Index");
	}


	private ApplicationUser CreateUser()
	{
		try
		{
			return Activator.CreateInstance<ApplicationUser>();
		}
		catch
		{
			throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
				$"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
		}
	}

	private IUserEmailStore<ApplicationUser> GetEmailStore()
	{
		if (!UserManager.SupportsUserEmail)
		{
			throw new NotSupportedException("The default UI requires a user store with email support.");
		}
		return (IUserEmailStore<ApplicationUser>)UserStore;
	}

	private sealed class InputModel
	{
		[Required(ErrorMessage = "Este campo es obligatorio")]
		[EmailAddress]
		public string Email { get; set; } = "";

		[Required(ErrorMessage = "Este campo es obligatorio")]
		[StringLength(100, ErrorMessage = "Este campo debe contener al menos 3 caracteres", MinimumLength = 3)]
		public string Nombres { get; set; } = "";

		[Required(ErrorMessage = "Este campo es obligatorio")]
		[DataType(DataType.Date)]
		[DisplayFormat(ApplyFormatInEditMode = true, DataFormatString = "{0:dd/MM/yyyy}")]
		public DateOnly FechaIngreso { get; set; } = DateOnly.FromDateTime(DateTime.Now);

		public string? DescripcionClase { get; set; }

		public List<string>? Dia { get; set; }

		public TimeOnly? HoraInicio { get; set; }

		[RegularExpression("^(2[0-3]|[01]?[0-9])$")]
		public TimeOnly? HoraFin { get; set; }

		[Required(ErrorMessage = "Este campo es obligatorio")]
		[RegularExpression(@"^\+?[0-9\s\-()]{7,15}$", ErrorMessage = "El número de teléfono debe ser válido.")]
		[StringLength(15, ErrorMessage = "El número de teléfono no puede superar los 15 caracteres.")]
		public string Telefono { get; set; } = "";
	}
}

