@page "/Entrenadores/Index"
@using Microsoft.AspNetCore.Identity

@inject NavigationManager navigationManager
@inject EntrenadoresService entrenadoresService
@inject IJSRuntime JS
@inject UserManager<ApplicationUser> UserManager

@rendermode InteractiveServer

@attribute [Authorize(Roles = "Admin")]

<Toasts class="p-3" Messages="Notificacion" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />

<PageTitle>Listado Entrenadores</PageTitle>
<body style="background-color: #F5E1CE">
	<div class="container">
		<div class="card shadow-lg">
			@*HEADER*@
			<div class="card-header text-center" style="background-color: #CA678E">
				<h3><b>Consulta de Entrenadores</b></h3>
			</div>

			@*BODY*@
			<div class="card-body" style="background-color: #F5E1E8">
				<div class="row">
					<div class="col-4">
						<div class="input-group" style="width: 250px">
							<div class="form-floating d-flex align-items-center">
								<InputSelect class="form-select" id="floatingSelect" aria-label="Floating label select example" @bind-Value="@valorFiltro">
									<option value="" selected disabled>--- Selecciona ---</option>
									<option value="identrenador">ID Entrenador</option>
									<option value="nombres">Nombre</option>
									<option value="email">Email</option>
									<option value="fechaIngreso">Fecha de Ingreso</option>
								</InputSelect>
								<label for="floatingSelect"><strong>Filtrar en base a...</strong></label>
							</div>
							@*btn restablecer*@
							<button type="button" class="btn custom-button bi bi-arrow-counterclockwise" @onclick="Restablecer"></button>
						</div>
					</div>

					<div class="col text-start">
						<div class="input-group" style="width: 500px">
							@*textbox buscar*@
							<div class="form-floating d-flex align-items-center">
								<InputText @bind-Value="@searchBarValue" class="form-control" placeholder="Buscar" id="floatingSearch" />
								<label for="floatingSearch">Buscar</label>
							</div>
							@*Btn Buscar*@
							<button @onclick="Buscar" class="btn custom-button bi bi-search" type="button"></button>
						</div>
					</div>

					@*Btn crear*@
					<div class="col-2 text-start">
						<label></label>
						<div>
							<a class="btn btn-sm custom-button bi bi-plus-circle" href="/Entrenadores/Create">Crear</a>
						</div>
					</div>
				</div>
				<br />
				@if (valorFiltro == "fechaIngreso")
				{
					@*Campo Fecha ingreso*@
					<div class="row">
						<div class="form-floating col">
							<InputDate @bind-Value="Desde" class="form-control" />
							<label for="desde"><b>Desde...</b></label>
						</div>
						<div class="form-floating col">
							<InputDate @bind-Value="Hasta" class="form-control" />
							<label for="hasta"><b>Hasta...</b></label>
						</div>
					</div>
				}
				<br />
				<table class="table table-sm table-striped table-hover">
					<thead>
						<tr>
							<th>ID Entrenador</th>
							<th>Nombres</th>
							<th>Email</th>
							<th>Tel&eacute;fono</th>
							<th>Fecha de Ingreso</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						@foreach (var entrenador in ListaEntrenadores)
						{
							<tr>
								<td>@entrenador.EntrenadorId</td>
								<td>@entrenador.Nombres</td>
								<td>@entrenador.Email</td>
								<td>@entrenador.Telefono</td>
								<td>@entrenador.FechaIngreso</td>
								<td>
									<div class="btn-group">
										<button class="btn custom-button btn-sm bi bi-eye dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
											Ver
										</button>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">Clases impartidas</a></li>
											<li><a class="dropdown-item" href="#">Info de Usuario</a></li>
										</ul>
									</div>
									<a href="/Entrenadores/Edit/@entrenador.EntrenadorId" class="btn btn-sm bi bi-pencil-square custom-button"> Editar</a>
									<button @onclick="() => MostrarModal(entrenador.EntrenadorId, entrenador.Email)" class="btn btn-sm custom-button bi bi-trash"> Eliminar</button>
								</td>
							</tr>
						}
					</tbody>
					<caption>
						Entrenadores: @ListaEntrenadores.Count
					</caption>
				</table>
			</div>
		</div>
	</div>
</body>

@if (mostrarModal)
{
	<div class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #CA678E; color: white;">
					<h5 class="modal-title">Eliminar Entrenador</h5>
					<button type="button" class="btn-close" @onclick="CerrarModal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>¿Está seguro de que desea eliminar a este entrenador?</p>
					<p>Esta opci&oacute;n no se puede deshacer.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" @onclick="CerrarModal">Cancelar</button>
					<button type="button" class="btn btn-danger" @onclick="Eliminar">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop fade show" @onclick="CerrarModal"></div>
}

@*Estilo CSS para los botones y la tabla*@
<style>
	/* Opciones de tabla */
	.table-striped > tbody > tr:nth-of-type(odd) {
		background-color: #F5E1E8;
	}

	.table-hover tbody tr:hover {
		background-color: #CA678E !important;
		color: white;
	}

	/* Estilo del fondo y texto del menú desplegable */
	.dropdown-menu {
		background-color: #96305a; /* Fondo del menú */
	}

	/* Color del texto de los elementos del menú */
	.dropdown-item {
		color: white; /* Texto blanco */
	}

		/* Hover: Mantener el texto blanco y cambiar el fondo */
		.dropdown-item:hover {
			background-color: #ca678e; /* Fondo al pasar el mouse */
			color: white; /* Mantener texto blanco */
		}

		/* Opcional: Sin borde en los elementos del menú */
		.dropdown-item:focus, .dropdown-item:active {
			background-color: #ca678e; /* Fondo cuando está seleccionado */
			color: white;
		}

	/* Estilo para el botón de crear más pequeño */
	.custom-button {
		background-color: #96305a;
		color: white;
		font-size: 14px; /* Ajusta el tamaño del texto */
		padding: 6px 12px; /* Ajusta el tamaño del botón */
	}

		.custom-button:hover {
			background-color: #ca678e;
			color: white;
		}
</style>


@code {
	public string searchBarValue { get; set; } = string.Empty;
	public string valorFiltro { get; set; } = string.Empty;
	public DateOnly? Desde { get; set; } = null;
	public DateOnly? Hasta { get; set; } = null;
	public List<EntrenadoresDto> ListaEntrenadores { get; set; } = new List<EntrenadoresDto>();
	public EntrenadoresDto EntrenadorDto { get; set; } = new();

	// MODALS
	private bool mostrarModal = false;
	private int EntrenadorIdSeleccionado { get; set; }
	private string EntrenadorEmailSeleccionado { get; set; } = "";

	private void MostrarModal(int entrenadorId, string entrenadorEmail)
	{
		EntrenadorIdSeleccionado = entrenadorId;
		EntrenadorEmailSeleccionado = entrenadorEmail;
		mostrarModal = true;
	}

	private void CerrarModal()
	{
		mostrarModal = false;
		EntrenadorIdSeleccionado = 0;
		EntrenadorEmailSeleccionado = "";
	}

	public async Task Eliminar()
	{
		try
		{
			await entrenadoresService.Eliminar(EntrenadorIdSeleccionado);
			ListaEntrenadores = await entrenadoresService.Listar(x => true);
			mostrarModal = false;
			EntrenadorIdSeleccionado = 0;
			TipoNotificacion = ToastType.Success;
			TituloNotificacion = "Enhorabuena";
			MensajeNotificacion = "¡Se ha eliminado el entrenador exitosamente!";
			ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
		}
		catch (Exception ex)
		{
			TipoNotificacion = ToastType.Danger;
			TituloNotificacion = "Error";
			MensajeNotificacion = "Hubo un error al eliminar el entrenador.";
			ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
		}
	}


	// NOTIFICACIONES
	public List<ToastMessage> Notificacion = new List<ToastMessage>();
	public ToastType TipoNotificacion { get; set; }
	public string MensajeNotificacion { get; set; } = string.Empty;
	public string TituloNotificacion { get; set; } = string.Empty;

	public void ShowMessage(ToastType toastType, string titulo, string cuerpo) => Notificacion.Add(CreateToastMessage(toastType, titulo, cuerpo));
	private ToastMessage CreateToastMessage(ToastType toastType, string titulo, string cuerpo)
	=> new ToastMessage
		{
			Type = toastType,
			Title = $"{titulo}",
			HelpText = $"{DateTime.Now}",
			Message = $"{cuerpo}",
		};

	public async Task Restablecer()
	{
		TipoNotificacion = ToastType.Info;
		TituloNotificacion = "Aviso";
		MensajeNotificacion = "Se han restablecido los criterios de búsqueda.";
		ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
		ListaEntrenadores = await entrenadoresService.Listar(x => true);
		searchBarValue = string.Empty;
		valorFiltro = string.Empty;
		Desde = null;
		Hasta = null;
	}

	protected override async Task OnInitializedAsync()
	{
		ListaEntrenadores = await entrenadoresService.Listar(x => true);
	}

	public async Task Buscar()
	{
		if (string.IsNullOrEmpty(valorFiltro))
		{
			TipoNotificacion = ToastType.Warning;
			TituloNotificacion = "Aviso";
			MensajeNotificacion = "Debe seleccionar una opción en el fitro.";
			ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
			ListaEntrenadores = await entrenadoresService.Listar(x => true);
			return;
		}

		searchBarValue.Trim().ToLower();

		switch (valorFiltro)
		{
			case "identrenador":
				if (string.IsNullOrEmpty(searchBarValue))
				{
					TipoNotificacion = ToastType.Info;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "Debe proveer un ID para buscar.";
					ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				if (!searchBarValue.All(char.IsDigit))
				{
					TipoNotificacion = ToastType.Info;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "El criterio de búsqueda solo puede alojar numeros.";
					ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				if (int.TryParse(searchBarValue, out int id))
					ListaEntrenadores = await entrenadoresService.Listar(lt => lt.EntrenadorId == id);
				break;

			case "idusuario":
				if (string.IsNullOrEmpty(searchBarValue))
				{
					TipoNotificacion = ToastType.Info;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "Debe proveer un ID para buscar.";
					ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				ListaEntrenadores = await entrenadoresService.Listar(lt => lt.UserId.Trim().ToLower()
																		== searchBarValue.Trim().ToLower());
				break;

			case "email":
				if (string.IsNullOrEmpty(searchBarValue))
				{
					TipoNotificacion = ToastType.Info;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "Debe proveer un email para buscar.";
					ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				ListaEntrenadores = await entrenadoresService.Listar(lt => lt.Email.Trim().ToLower()
															.Contains(searchBarValue));
				break;

			case "nombres":
				if (string.IsNullOrEmpty(searchBarValue))
				{
					TipoNotificacion = ToastType.Warning;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "Debe proveer el/los nombre/s y/o apellido/s para buscar.";
					ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				ListaEntrenadores = await entrenadoresService.Listar(lt => lt.Nombres.Trim().ToLower()
															.Contains(searchBarValue));
				break;

			case "fechaIngreso":
				if (Desde > Hasta)
				{
					TipoNotificacion = ToastType.Warning;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "La fecha inicial no puede ser mayor a la final.";
					ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				if (Desde == null || Hasta == null)
				{
					TipoNotificacion = ToastType.Warning;
					TituloNotificacion = "Aviso";
					MensajeNotificacion = "Ambos campos de fecha deben estar llenos.";
					ShowMessage(TipoNotificacion, TituloNotificacion, MensajeNotificacion);
					return;
				}
				ListaEntrenadores = await entrenadoresService.Listar(f => f.FechaIngreso >= Desde && f.FechaIngreso <= Hasta);
				break;

			default:
				ListaEntrenadores = await entrenadoresService.Listar(x => true);
				break;
		}
	}
}

